# Neon PostgreSQL Connection String
# Example format: postgresql://[user]:[password]@[neon-hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_sample@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# Secret for securing cron endpoints (e.g. Vercel Cron or GitHub Actions)
CRON_SECRET=cineverse_super_secure_cron_secret_2026

# Server Port
PORT=3001
